*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

.navigation-bar{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	background-image: linear-gradient(to right,#f2e4d8,#e3781b);
}

.navbar-brand{
	font-size: 30px;
	font-family: Arial Black;
}

.q{
	font-size: 45px;
	color: orange;
}

.nav-link{
	font-size: 20px;
	margin-left: 15px;
	color: black;
	font-weight: bolder;
}

.heading{
	margin-top: 110px;
	font-size: 30px;
	color: orange;
}

.table{
	margin-top: 20px;
}